.galleryContainer {
    clear:both;
    float: left;
    display: block;
    margin: 40px auto;
    width: 100%;
    text-align: center;
}

.item {
    width: 32%;
    height: 350px;
    float:left;
    margin: 5px;
    background: no-repeat center;
    background-size: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    padding: 50px;
}
.modal img {
    width: auto;
    max-height: 100%;
}

  
  /* Masonry on big screens */
  @media (max-width: 1024px) {
    .item{width: 48%;}
  }